# Ignore node_modules
node_modules/

# Ignore logs
logs
*.log

# Ignore environment files (but keep a safe example)
.env

# Ignore Docker build artifacts
*.tar
*.img
*.container
*.pid

# Optional: Ignore OS or editor files
.DS_Store
*.swp

